selenium==4.27.1
SQLAlchemy==1.4.47
python-whois==0.8.0
tldextract==5.0.1
scikit-learn==1.2.2
aiohttp==3.8.6
webdriver-manager==4.0.2
pydantic==2.10.4
pydantic_core==2.27.2
pyOpenSSL==24.3.0
numpy==1.26.4
pandas==2.2.3
oauthlib==3.0.2
requests==2.25.1
scikit-learn==1.2.2
scipy==1.13.1
sklearn==0.0
